// Tooltip.module.scss

.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltipContent {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: 
        opacity 1s, 
        visibility 0.3s;
    pointer-events: none;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
}

.tooltipContainer:hover .tooltipContent {
    visibility: visible;
    opacity: 1;
}
